<html xmlns="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>
<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>Specialization Registration</h3>
			</div>
			<div class=".bg-success text-center text-white"></div>
			<div class="card-body">
				<form th:action="@{/spec/save}" method="POST" id="mySpecs">
					<!--Row#1-->
					<div class="row">
						<div class="col-2">
							<label for="specName">Code</label>
						</div>
						<div class="col-4">
							<input type="text" name="specCode" id="specCode"
								class="form-control" placeholder="Please enter code" />
						</div>
						<div class="col-6" id="specCodeError"></div>
					</div>
					&nbsp;
					<!--Row#2-->
					<div class="row">
						<div class="col-2">
							<label for="specName">Name</label>
						</div>
						<div class="col-4">
							<input type="text" name="specName" id="specName"
								class="form-control" placeholder="Please enter name" />
						</div>
						<div class="col-6" id="specNameError"></div>
					</div>
					&nbsp;
					<!--Row#3-->
					<div class="row">
						<div class="col-2">
							<label for="specNote">Note</label>
						</div>
						<div class="col-4">
							<textarea class="form-control" name="specNote" id="specNote"
								placeholder="Please enter note"></textarea>
						</div>
						<div class="col-6" id="specNoteError"></div>
					</div>
					<button class="btn btn-success" type="submit">
						Create <i class="fa fa-plus-circle" aria-hidden="true"></i>
					</button>
				</form>
			</div>
			<div th:if="${message!=null}" class="card-footer bg-white text-info">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
	<script th:src="@{/myjs/validation_spec.js}">
		
	</script>
</body>
</html>
