<html xmlns="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>
<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>Specialization</h3>
			</div>
			<div class="card-body">
				<form th:action="@{/spec/update}" method="POST" id="mySpecs"
					th:object="${specialization}">
					<!--Row#0-->
					<div class="row">
						<div class="col-2">
							<label for="id">ID</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{id}" class="form-control" readonly />
						</div>
						<div class="col-6" id="idError"></div>
					</div>
					&nbsp;
					<!--Row#1-->
					<div class="row">
						<div class="col-2">
							<label for="specCode">Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{specCode}" class="form-control"
								placeholder="Please enter code" />
						</div>
						<div class="col-6" id="specCodeError"></div>
					</div>
					&nbsp;
					<!--Row#2-->
					<div class="row">
						<div class="col-2">
							<label for="specName">Name</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{specName}" class="form-control"
								placeholder="Please enter name" />
						</div>
						<div class="col-6" id="specNameError"></div>
					</div>
					&nbsp;
					<!--Row#3-->
					<div class="row">
						<div class="col-2">
							<label for="specNote">Note</label>
						</div>
						<div class="col-4">
							<textarea class="form-control" th:field="*{specNote}"
								placeholder="Please enter note"></textarea>
						</div>
						<div class="col-6" id="specNoteError"></div>
					</div>
					<button class="btn btn-success" type="submit">
						Update <i class="fa fa-wrench" aria-hidden="true"></i>
					</button>
				</form>
			</div>
			<div th:if="${message!=null}" class="card-footer bg-white text-info">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
	<script th:src="@{/myjs/validation_spec.js}">
		
	</script>
</body>
</html>
